# ANSWERS: WMP Machine Learning Lab 1 - Exploratory Data Analysis

## Overview: 
Perhaps the single most important skill in Data Science is the ability to familiarize yourself with data. No model will ever be good enough to overcome bad data, nor will a model generate data understanding for you. Therefore, this lab is your chance to apply what you learned from the EDA lectures to a real dataset. 

## Agenda (Total time: 6 hours)
- Introduction, guided lab (**2.5 hours**)
- Team work on EDA report (**2 hours**)
- Presentation of EDA report (**1.5 hours, 45 mins per team**)

### Instructor: Sam Showalter

# Introduction

## Source Data:

https://www.ibm.com/communities/analytics/watson-analytics-blog/hr-employee-attrition/ 

SAMPLE DATA: HR Employee Attrition and Performance
avatar McKinley Stacker IV  Sep 14, 2015  91925
Watson Analytics Sample Data

Uncover the factors that lead to employee attrition and explore important questions such as ‘show me a breakdown of distance from home by job role and attrition’ or ‘compare average monthly income by education and attrition’. This is a fictional data set created by IBM data scientists.

### EDA Topics to Cover

- Summary statistics
- Histograms and Univariate plots
- Bivariate plots
- Correlation and correlation plots
- Outlier detection
- Categorical data analysis

### Stretch EDA Topics (for those who want to show off)
- QQ Plots
- Advanced Seaborn Plotting
- Iteractive EDA plotting (plotly)

### Goal and Guided Agenda

As a new data scientist in a R&D technology company, your executive analytics committee has tasked you to find the driving factors of attrition in the organization. You are planning on doing the following:

- **20 minutes** -  Before starting through this notebook, as a team take 15 minutes to develop some initial theories  on why some empoloyees Attrite and others do not. Think about some EDA techniques that could be useful. Write down your theories and share them once the exercise ends (5 minutes). 
- **20 minutes** - Now that you have given a _cold_ assessment of potential Attrition reasons, take 15 minutes to assess and consider the Summary Statistics section of this notebook. Gather evidence from this section and take 5 minutes to share those findings once you are done.
- **60 minutes** - With some summary statistic information in hand, augment your exploration by taking 55 minutes considering the Pandas Profiler, which provides an immense amount of information in HTML format. Go through this report and document any important findings. In particular, take note of the following and discuss what you found for 5 minutes at the end:
    + Consider the correlation information and correlation plots in **4.**
    + Assess the composition of categorical variables in **5.**
    + Document areas where you think the Pandas Profiler may have made mistakes, if any
    + See if you can identify any outliers from the profiler, or by doing custom analysis with Pandas
- **40 minutes** -- Finally, examine the univariate and bivariate plots section to determine if there are any trends that you missed or could not see with the previous resources. Add these findings to your notes, and make note of any situations where univariate and bivariate plots were not particularly insightful. 
- **BONUS** - If you were able to get through all of this and have extra time at the end, examine some of the stretch topics and try to create valuable EDA insights of your own, in Python. NOTE: Make sure you are completely done with and confident about your previous sections before proceeding to the bonus

Use the graphs that have been created for you below, and answer the questions provided. Good luck!

## 1. Python Library and Package Imports

Feel free to bring in any of your own custom packages in the labeled section below

In [1]:
# Import data management tools
import pandas as pd

## 2. Read in Data

See if you can read in the dataframe using Pandas. Feel free to use Google.com and Stack Overflow for help. The filepath is listed below.

https://raw.githubusercontent.com/jswortz/UIC_Clustering_Code_2019/master/data/WA_Fn-UseC_-HR-Employee-Attrition.csv

**EXERCISE:** Please read in the data to the variable named df (shorthand for DataFrame), then double check that it imported successfully. Run the cell below your input and verify there are 1470 rows and 35 columns

In [2]:
#WRITE YOUR CODE HERE TO READ IN DATA
df = pd.read_csv("https://raw.githubusercontent.com/jswortz/UIC_Clustering_Code_2019/master/data/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
#Verify the data shape
("Data Shape: {} rows x {} cols".format(len(df), len(df.columns)))

'Data Shape: 1470 rows x 35 cols'

## 3. Check Data Quality

The first thing to do after reading in the data and doing EDA (shown in previous notebook) is checking data quality. Machine Learning models are very sensitive and intolerant of ill-formatted or missing data. Therefore, the following exercises will allow us to better grasp the data quality itself. 

**EXERCISE:** See if you can find a snappy command to view any missing values in the dataframe, by column name.

In [4]:
# WRITE YOUR CODE HERE TO CHECK FOR NULL DATA
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

Lucky us! As you can see there is no missing data. Now, we need to determine what data type each column is. This will help us determine what columns we should drop and which need manipulation to be better for modeling.

**EXERCISE:** See if you can find a way to view the data type of each column, either by looking at a snapshot of the dataframe or by printing the data types.

In [5]:
#PRINT THE TOP FIVE ROWS OF THE DATAFRAME HERE
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
#PRINT THE DATA TYPES, BY COLUMN, of THE DATAFRAME HERE
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

Interesting. There are several fields with a data type of "object". Use your data engineering skills to further understand what they are.

**EXERCISE:** First, list out the names of all the columns with a data type of `object`. Then, show a snapshot of the dataframe for all of these columns and only these columns.

In [7]:
#WRITE YOUR CODE HERE FOR OBJECT DATA TYPE COLUMNS
df.select_dtypes(object).columns

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

In [8]:
#PRINT A SNAPSHOT OF ALL OBJECT FIELDS IN DATAFRAME
df.loc[:,df.select_dtypes(object).columns].head()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Yes,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,No,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Yes,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,No,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,No,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

**EXERCISE:** Finally, fill out the following forms for each data type. Consider the following definitions for each, and take your time. This is very important for doing feature engineering correctly. Think about what the significance of a data type and its representation may have on a model.

 - **Categorical**: Often a string value. Different groups, or categories of objects (e.g. Cat, Dog, Mouse, ...)
 - **Numerically Discrete**: Countably infinite numerical values. Often integers.
 - **Numerically Continuous**: Numbers, but not countably infinite. Often float values.
 - **Boolean**: Yes or No values. Sometime represented as 1 or 0 **OR** as a two option categorial variable.
 - **Ordinal**: Categorial variables with proximal association. e.g.) small, medium, large **OR** level 1, 2, 3


| Column Name | Potential Data Types |
| :----------- | ---------------------|
|**`Age`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal 
|
|**`Attrition`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox"> Categorical  $\;\;\;\;$ <input type="checkbox"> Numeric Discrete $\;\;\;\;$ <input type="checkbox"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" checked> Boolean $\;\;\;\;$ <input type="checkbox"> Ordinal
|
|**`BusinessTravel`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`DailyRate`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Department`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`DistanceFromHome`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Education`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`EducationField`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EmployeeCount`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EmployeeNumber`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`EnvironmentSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Gender`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`HourlyRate`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobInvolvement`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobLevel`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`JobRole`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`JobSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MaritalStatus`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right" checked> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MonthlyIncome`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`MonthlyRate`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`NumCompaniesWorked`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`Over18`**$\;\;\;\;\;\;\;\;\;\;$ |     <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`OverTime`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right" checked> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`PercentSalaryHike`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`PerformanceRating`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`RelationshipSatisfaction`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`StandardHours`**$\;\;\;\;\;\;\;\;\;\;$    |  <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`StockOptionLevel`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right" checked> Ordinal
|
|**`TotalWorkingYears`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`TrainingTimesLastYear`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`WorkLifeBalance`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsAtCompany`**$\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsInCurrentRole`**$\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|
|**`YearsSinceLastPromotion`**   $\;\;\;\;\;\;\;\;\;\;$  |    <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|  
|**`YearsWithCurrManager`**  $\;\;\;\;\;\;\;\;\;\;$   |   <input type="checkbox" align = "right"> Categorical  $\;\;\;\;$ <input type="checkbox" align = "right" checked> Numeric Discrete $\;\;\;\;$ <input type="checkbox" align = "right"> Numeric Continuous $\;\;\;\;$ <input type="checkbox" align = "right"> Boolean $\;\;\;\;$ <input type="checkbox" align = "right"> Ordinal
|

## 4. Feature Engineering

Now that we have a good grasp for the data and its data types, we need to do the following to prepare for modeling.

    1.) Determine what fields make sense to include for modeling. (What could reasonably impact attrition?)
    2.) How should different data types be transformed to be conducive for modeling? 
    3.) Write the code necessary for creating a modeling dataset.

### 4.a. Dropping inapplicable fields

We want to include everything that could even have the slightest impact on attrition, but leave out the remaining fields.

**EXERCISE**: List the fields that you should remove and write a small description outlining your logic.

LIST OF FIELDS TO REMOVE:

- **EmployeeNumber** -- This is just an employees identification number and has nothing to do with attrition
- **HourlyRate** -- Monthly rate is already provided, which documents the same thing (could switch with Monthly)
- **DailyRate** -- Monthly rate is already provided, which documents the same thing (could switch with Monthly)
        
        
**EXERCISE**: With your data to drop now defined, drop the columns while keeping the data in variable `df`. (**HINT**: There are three columns to drop)

In [9]:
#WRITE CODE HERE TO DROP COLUMNS
df.drop(["EmployeeNumber", "HourlyRate", "DailyRate"], axis = 1, inplace = True)

### 4.b. Handling Categorical Data

Categorical data is almost always represented with string data types. Mathematical models do not know how to process strings so as data scientists we must alias them and create dummy variables.

**EXERCISE**: The function below is intended to create dummy variables of each categorical variable in the dataset, then combine all of the information into a single dataframe called `categorical_df`. Create a list of the categorical variables that need to be converted, then write the function call to convert them. Name the output variable `categorical_df`.

In [10]:
def create_categorical_df(data, column_names):
    
    categorical_df = None
    
    for categorical_column in column_names:
        
        #WRITE DUMMY VARIABLE FUNCTION HERE
        categorical_dummies = pd.get_dummies(data[categorical_column])
        
        if categorical_df is None:
            categorical_df = categorical_dummies
            
        else:
            categorical_df = pd.concat([categorical_df, categorical_dummies], axis =1)
    
    return categorical_df

In [11]:
#MAKE LIST OF CATEGORICAL COLUMN NAMES HERE
categorical_names = ['Department', 'EducationField', 'JobRole', "MaritalStatus"]

#MAKE FUNCTION CALL HERE TO MAKE CATEGORICAL DF
categorical_df = create_categorical_df(df, categorical_names)

**EXERCISE**: Verify you were successful by printing the head of the dataset

In [12]:
#WRITE CODE HERE TO VIEW HEAD OF CATEGORICAL DF
categorical_df.head()

,Human Resources,Research & Development,Sales,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree,Healthcare Representative,...,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative,Divorced,Married,Single
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

### 4.c. Handling Ordinal Data

Similar to categorical data, ordinal data is also often a string value. However, we do not need to make dummies of this data since there is a measure of proximity. We only need to alias the data but also ensure that **the logical order of the data is maintained**. 

**EXERCISE**: The function below converts ordinal data into a model friendly format. Create a list of all ordinal data types to be converted, then create the function call and save the output at ordinal_df. (HINT: There are a total of **Four** columns, but **ONLY ONE** needs to be preprocessed. Put only the one that needs to be preprocessed in the `ordinal_df` list below. We will add the rest later.

In [13]:
def create_ordinal_df(data, ordinal_names, ordinal_dict):
    
    ordinal_df = data.loc[:,ordinal_names]
    
    for name in ordinal_names:
        ordinal_df[name] = ordinal_df[name].map(ordinal_dict)
    
    return ordinal_df

def view_ordinality(data, ordinal_names):
    for name in ordinal_names:
        print(data[name].drop_duplicates())
        print()

In [14]:
#MAKE LIST OF ORDINAL COLUMN NAMES HERE
ordinal_names = ['BusinessTravel']

**EXERCISE**: View the ordinality of the appropriate column name, and make the corresponding dictionary (e.g. 0 = low, 1 = medium, 2 = high).

In [15]:
#VIEW ORDINALITY OF ORDINAL COLUMNS
view_ordinality(df, ordinal_names)

0         Travel_Rarely
1     Travel_Frequently
17           Non-Travel
Name: BusinessTravel, dtype: object

In [16]:
#MAKE ORDINAL DICTIONARY
ordinal_dict = {"Non-Travel" :0, "Travel_Rarely":1, "Travel_Frequently": 2}

In [17]:
#MAKE FUNCTION CALL HERE TO CREATE ORDINAL DICT
ordinal_df = create_ordinal_df(df, ordinal_names, ordinal_dict)

Finally, let's add back all of the ordinal columns that did not need any alteration. These include Education, StockOptionLevel, and JobLevel.

In [18]:
#Data is added back for you.
ordinal_df = pd.concat([ordinal_df, df.loc[:, ["Education", "StockOptionLevel", "JobLevel"]]], axis = 1)

**EXERCISE**: Verify you were successful by checking the data types of the ordinal_df. They should be integers.

In [19]:
#VIEW DATA TYPES OF ORDINAL DF HERE
ordinal_df.dtypes

BusinessTravel      int64
Education           int64
StockOptionLevel    int64
JobLevel            int64
dtype: object

### 4.d. Handling Boolean Data

Boolean data is also often in string format. This conversion is trickier because you need to determine what represents **YES** and **NO** for each column. For attrition, this is self-explanatory (1 = attrition, 0 = not). For columns like gender, pick either gender as the **YES** gender. Ultimately it will not impact the modeling.

**EXERCISE**: Determine the variables that are boolean, as well as their YES / NO values, by following the steps below. Then convert the values using the provided function.

In [20]:
# CREATE A LIST OF BOOLEAN COLUMNS
boolean_names = ['Attrition', 'Gender', 'Over18', 'OverTime']

In [21]:
# Visualize the unique names found in each column name by running the function
def visualize_booleans(data, boolean_names,):
    for name in boolean_names:
        print(data[name].drop_duplicates())
        print()

In [22]:
#CALL THE VISUALIZE BOOLEANS FUNCTION HERE
visualize_booleans(df, boolean_names)

0    Yes
1     No
Name: Attrition, dtype: object

0    Female
1      Male
Name: Gender, dtype: object

0    Y
Name: Over18, dtype: object

0    Yes
1     No
Name: OverTime, dtype: object

**EXERCISE**: It looks like we have another column that does not provide us with any unique data. Figure out which column that is, and drop it.

In [23]:
# WRITE CODE HERE TO DROP COLUMN
df.drop(['Over18'], axis = 1, inplace = True)

In [24]:
#REMOVE Over18 FROM boolean_names LIST
boolean_names.remove('Over18')

**EXERCISE**: Finally, create a list of lists in the format shown below, and feed it into the provided function to conver boolean values.

In [25]:
def convert_boolean_df(data, boolean_names_and_values):
    for name_value in boolean_names_and_values:
        data[name_value[0]] = data[name_value[0]].map({name_value[1]: 1,
                                                       name_value[2]: 0})

In [26]:
# CREATE A LIST OF LISTS ALL BOOLEAN COLUMNS
# Each list has the order: [COLUMN_NAME, YES_VALUE, NO_VALUE]
boolean_names_and_values =  [["Attrition", "Yes", "No"],
                             ["Gender", "Male", "Female"],
                             ["OverTime", "Yes", "No"]]

In [27]:
#CALL FUNCTION TO CONVERT BOOLEAN DF HERE
convert_boolean_df(df, boolean_names_and_values)

**EXERCISE**: Verify you were successful by running `visualize_booleans` again and comparing the results.

In [28]:
#VISUALIZE BOOLEAN OUTPUT HERE USING visualize_booleans FUNCTION
visualize_booleans(df, boolean_names)

0    1
1    0
Name: Attrition, dtype: int64

0    0
1    1
Name: Gender, dtype: int64

0    1
1    0
Name: OverTime, dtype: int64

### 4.e. Normalizing Numerical Data

We are almost ready for modeling! The last thing to do is convert our numerical data into something with more context. When we look at something like income for modeling, the actual value means nothing. What **DOES** matter is how different that value is from other data observations. 

Therefore, many data scientists standardize numerical data by fitting it to a normal distribution and storing the z-score rather than the actual values.

**EXERCISE**: Create a list of all the columns that need to be normalized (there are many!) and call it `normalized_names`. Then call the function that will normalize them and save them all to `normalized_df`.

In [29]:
from sklearn.preprocessing import StandardScaler

def normalize_values(data, column_names):
    normalized_df = StandardScaler().fit_transform(data.loc[:,
                                                            column_names])
    
    return pd.DataFrame(normalized_df, columns = column_names)

In [30]:
#WRITE NORMALIZED COLUMN NAMES LIST HERE
normalized_names = ['Age', 'DistanceFromHome', 'EmployeeCount', "EnvironmentSatisfaction",
                    'JobInvolvement', 'JobSatisfaction', "MonthlyIncome", "MonthlyRate",
                    'NumCompaniesWorked', 'PercentSalaryHike', "PerformanceRating",
                    'RelationshipSatisfaction', 'StandardHours', 'TotalWorkingYears',
                    'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
                    'YearsInCurrentRole', 'YearsSinceLastPromotion',
                    'YearsWithCurrManager']

In [31]:
#CALL normalize_values FUNCTION HERE
normalized_df = normalize_values(df, normalized_names)

**EXERCISE**: Verify you were successful by viewing the head of the normalized_df

In [32]:
#VIEW HEAD OF NORMALIZED DF HERE
normalized_df.head()

,Age,DistanceFromHome,EmployeeCount,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0.446350,-1.010909,0.0,-0.660531,0.379672,1.153254,-0.108350,0.726020,2.125136,-1.150554,-0.426230,-1.584178,0.0,-0.421642,-2.171982,-2.493820,-0.164613,-0.063296,-0.679146,0.245834
1,1.322365,-0.147150,0.0,0.254625,-1.026167,-0.660853,-0.291719,1.488876,-0.678049,2.129306,2.346151,1.191438,0.0,-0.164511,0.155707,0.338096,0.488508,0.764998,-0.368715,0.806541
2,0.008343,-0.887515,0.0,1.169781,-1.026167,0.246200,-0.937654,-1.674841,1.324226,-0.057267,-0.426230,-0.658973,0.0,-0.550208,0.155707,0.338096,-1.144294,-1.167687,-0.679146,-1.155935
3,-0.429664,-0.764121,0.0,1.169781,0.379672,0.246200,-0.763634,1.243211,-0.678049,-1.150554,-0.426230,0.266233,0.0,-0.421642,0.155707,0.338096,0.161947,0.764998,0.252146,-1.155935
4,-1.086676,-0.887515,0.0,-1.575686,0.379672,-0.660853,-0.644858,0.325900,2.525591,-0.877232,-0.426230,1.191438,0.0,-0.678774,0.155707,0.338096,-0.817734,-0.615492,-0.058285,-0.595227

### 4.f. Finalizing the Modeling Dataset

Finally, we are ready to combine everything together into a modeling dataset. The dataset df is refined for you below to trim out all values that we have changed.

**EXERCISE**: Using all of the previously created dataframes, including `boolean_df` below, combine all of the data into a single flat dataset

In [33]:
# Editing df to only include up-to-date columns
boolean_df = df.loc[:,boolean_names]

In [34]:
#COMBINE ALL DATA TOGETHER HERE (including boolean_df)
df = pd.concat([boolean_df, categorical_df, normalized_df, ordinal_df], axis = 1)

**EXERCISE**: Verify that you combined the data correctly by checking the shape of `df`. You should have 1470 rows and 48 columns

In [35]:
#VIEW SHAPE OF DF HERE
df.shape

(1470, 48)

## 5. Model Training and Evaluation

Finally, we are ready to start modeling. In this section we will compare the performance of three fairly basic Machine Learning algorithms and see how well they can predict attrition.

The three models are listed below, and will be implemented using Scikit-Learn, one of the most popular ML packages in Python:

    1.) K-Nearest Neighbors (KNN)
    2.) Gaussian Naive Bayes (GNB)
    3.) Logistic Regression (LOG)
    
Here is a quick blurb on how each of these ML algorithms work.
   
- **KNN** 

Takes an unknown person (don't know if there was attrition) and compares it to the most similar people they work with. If the most similar "K" people were characterized by attrition, then the unknown individual is as well.
   
- **GNB** 
    
Probabilistically examines the mean characteristics of the stereotypical attrition and non-attrition individual. Assuming feature independence (naivete), the unknown person is classified based on the stereotype in which they are characteristically most similar.
  
- **LOG** 

Regression system that classifies individuals by determining an optimal separation boundary between individuals that were characterized by attrition and those that were not.

### 5.a. Importing Models

For convenience, the models have been imported below

In [36]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

# GNB
from sklearn.naive_bayes import GaussianNB

# LOG
from sklearn.linear_model import LogisticRegression

Before we can do anything with these models, we need to instantiate them.

**EXERCISE**: Instantiate all three models below, setting them to the names of their abbreviations (this is simple, do not overthink this).

In [37]:
# KNN
KNN = KNeighborsClassifier()

# GNB
GNB = GaussianNB()

# LOG
LOG = LogisticRegression()

### 5.b. Split the data into train and test slices

To evaluate models in an unbiased way, we have to set some data aside that the model will not see during training. This process is called train test split.

**EXERCISE**: The train test split function is provided to you below. Split the input and target (**target = Attrition**) data into slices. Set the output variables to be X_train, X_test, y_train, and y_test **in that order**. Make the split on 25% of the data.

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
#WRITE CODE HERE (Tricky! See if you can specify ALL columns but attrition.)
X_train, X_test, y_train, y_test = train_test_split(df.loc[:, df.columns != "Attrition"], 
                                                    df.loc[:, "Attrition"], 
                                                    test_size = 0.25)

### 5.c. Train all of the models

Now we are ready to train the models! In order to train the models, you must call `.fit` on each model. Be sure to only give the model the training data! e.g.) model.fit(train_x_values, train_y_values)

**EXERCISE**: Call `.fit` for all of the instantiated models.

In [40]:
# KNN
KNN.fit(X_train, y_train)

# GNB
GNB.fit(X_train, y_train)

# LOG
LOG.fit(X_train, y_train)

C:\Users\sshowalter\AppData\Local\Continuum\miniconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### 5.d. Make prediction for all of the models

Now we can use our trained models to predict. You can do so by providing **ONLY THE TRAINING DATA** to the trained model and calling `.predict`. e.g.) model.predict(test_x_values)

**EXERCISE**: Call `.predict` for all of the instantiated models. Save all output as "<MODEL_NAME>_preds". e.g.) KNN_preds.

In [41]:
# KNN
KNN_preds = KNN.predict(X_test)

# GNB
GNB_preds = GNB.predict(X_test)

# LOG
LOG_preds = LOG.predict(X_test)

### 5.e. Evaluate performance for all models

**EXERCISE**: Now that we have predictions, use the function provided below to determine which model is best! See the function's inputs for what you need to provide (**HINT**: which of the `train_test_split` slices includes the actual classes for the test data?)

In [42]:
from sklearn.metrics import classification_report

def get_performance(model_name, actual_results, predictions):
    print(model_name + "\n" +
          classification_report(actual_results, 
                                predictions))
    print("\n================================================================================\n")

In [43]:
#KNN PERFORMANCE
get_performance("KNN", y_test, KNN_preds)

#GNB PERFORMANCE
get_performance("GNB", y_test, GNB_preds)

#LOG PERFORMANCE
get_performance("LOG", y_test, LOG_preds)

KNN
              precision    recall  f1-score   support

           0       0.88      0.98      0.93       319
           1       0.62      0.16      0.26        49

    accuracy                           0.88       368
   macro avg       0.75      0.57      0.59       368
weighted avg       0.85      0.88      0.84       368


================================================================================

GNB
              precision    recall  f1-score   support

           0       0.94      0.60      0.73       319
           1       0.22      0.73      0.34        49

    accuracy                           0.62       368
   macro avg       0.58      0.67      0.54       368
weighted avg       0.84      0.62      0.68       368


================================================================================

LOG
              precision    recall  f1-score   support

           0       0.93      0.97      0.95       319
           1       0.75      0.49      0.59        49

    accuracy                           0.91       368
   macro avg       0.84      0.73      0.77       368
weighted avg       0.90      0.91      0.90       368


================================================================================

**EXERCISE**: Which model was the best?
    
<input type="checkbox" align = "right"> KNN  $\;\;\;\;$ <input type="checkbox" align = "right"> GNB $\;\;\;\;$ <input type="checkbox" align = "right" checked> LOG 

**CONGRATULATIONS! YOU FINISHED THE WMP MACHINE LEARNING TUTORIAL!**

## Advanced Exercises 

If you liked this tutorial, want to get involved in Machine Learning at West Monroe, or both, please go ahead and try the following additional exercises. 

1. Unsupervised Machine Learning groups data based on metrics of similarity. Leverage a clustering algorithm like K-means and document its findings with the given data. What is the composition of each cluster and what insights about attrition can you determine? Save your results as a Jupyter notebook and send them to **Sam Showalter** or **Jordan Totten** for review.

2. In this tutorial we used the package Scikit-learn to examine different Machine Learning algorithms and their ability to predict attrition with the given data. For the simplest of these algorithms, K-Nearest Neighbors, implement the algorithm from scratch (no Sklearn!) and compare the results to the findings in your notebook.

3. Really love this stuff? Are you a math whiz? Implement a Gaussian Naive Bayes' classifier from scratch to classify this data. Compare its performance to the Scikit-learn GNB. If you do so successfully, you will get an all-analytics shout out!